@mixin CENTER {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin HEADER-BCKG {
    background: rgb(65, 65, 65);
    background: linear-gradient(11deg, rgb(0, 0, 0) 34%, rgba(232, 232, 232, 1) 54%, rgba(252, 252, 252, 1) 77%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@mixin Content-area {
    position: relative;
    width: 537px;
    height: 346px;
    background: #121212;

    button {
        position: absolute;
        outline: none;
        border: none;
        background: transparent;
        top: 290px;
    }

    &__right-btn {
        left: 75px;
    }

    &__left-btn {
        left: 35px;
    }
}

@mixin orange-btn {
    width: 284px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 1px;
    background: rgb(255, 223, 122);
    background: linear-gradient(45deg, rgba(255, 223, 122, 1) 0%, rgba(255, 156, 37, 1) 23%, rgba(242, 238, 163, 1) 100%);
}

@mixin header6-grey {
    font-weight: 500;
    font-size: 10px;
    margin-top: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5)
}